
<div class="container"  *ngFor="let quote of quotes; let i = index" >
    <div id="quote-card" class="card border-primary">
      <div class="row">
        <div class="col col-sm-2">
          <img src="../assets/quote.png" alt="Quotes icon" height="90px"> 
        </div>
        <div class="col-sm mt-4 mx-auto">
          <h4 class="d-inline" > {{quote.qtitle}} </h4>
          <br>
          <app-quote-description *ngIf="quote.showDescription" [showDesc]="quote"></app-quote-description>
          <p>By: <span class="by">{{quote.qauthor}}</span> Submitted By: <span class="by">{{quote.qsubmitter}}</span> </p> 
          <div class="d-flex justify-content-around">
            <i class="text-primary fa fa-thumbs-up">Upvote<span> {{quote.qupvote}}</span> </i> 
            <i class="text-danger fa fa-thumbs-down">Downvote {{quote.qdownvote}} </i>
          </div>
          <br>
        </div>
        <div class="col-sm d-flex justify-content-center">
          <p class="text-muted mt-5 mx-auto">Posted: {{quote.postdate}}</p>
        </div>
        <div class="col-sm d-flex flex-column justify-content-around mx-auto">
          <button class="btn btn-sm btn-outline-primary"  (click)="viewQuote(i)"><i class="fa fa-eye"></i>  View Quote</button><br>
          <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i> Delete Quote</button>
        </div>
  
      </div>
    </div>
    <div class="">
        <nav class="navbar navbar-light bg-light">
          </nav> 
    </div>
  </div>