<div class="row">
  <div class="col">
    <nav class="navbar navbar-light bg-primary">
      <a class="navbar-brand"></a>
      <form class="form-inline">
        <!-- <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button  class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </nav> 
  </div>
  <!-- <div class="col-md-auto"> + New Quote</div> -->
</div>
<h1 class="text-center">{{title}}</h1>
<app-list-quotes></app-list-quotes>
